<form method="post" action="{{ path('app_student_delete', {id: students.id}) }}" onsubmit="return confirm('Are you sure?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ students.id) }}">
	<button class="btn btn-danger">
		<i class="mdi mdi-delete fs-14 text-danger"></i>
	</button>
</form>
