# Dependencies (will be built in Docker)
/vendor
/node_modules

# Cache & logs (will be created in container)
/var/cache/*
/var/log/*
!var/.gitkeep

# Git & IDE
.git
.gitignore
.idea
.vscode

# OS junk
.DS_Store
Thumbs.db

# Local env files
.env.local
.env.*.local

# Docker files
docker-compose*.yaml
Dockerfile
.dockerignore

# Documentation
*.md
README.md
