<form method="post" action="{{ path('app_class_student_delete', { id: schoolClass.id, sectionId: section.id, studentId: student.id }) }}" style="display:inline;">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
	<button type="submit" class="btn btn-primary">Yes, Delete</button>
</form>
