<!DOCTYPE html>
<html lang="en">

	<head>
		{{ include('partials/title-meta.html.twig') }}
		{% block css %}{% endblock %}
		{{ include('partials/head-css.html.twig') }}
	</head>

	<body class="{{ body_atttribute }}"> {% block content %}{% endblock %}

		{{ include('partials/vendor.html.twig') }}


		{% block script %}{% endblock %}

	</body>

</html>
