{% extends 'layouts/base.html.twig' %}

{% set body_atttribute = 'maintenance-bg-image' %}

{% set title = 'Error 429' %}

{% block css %}{% endblock %}

{% block content %}

<!-- Begin page -->
<div class="maintenance-pages">
    <div class="bg-overlay"></div>
    <div class="container-fluid p-0">
        <div class="row">

            <div class="col-xl-12 align-self-center">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card overflow-hidden text-center">
                            <div class="card-body">

                                <div class="mb-4 p-0 text-center">
                                    <div class="auth-brand">
                                        <a href="index" class="logo logo-light">
                                            <span class="logo-lg">
                                                <img src="/images/logo-light.png" alt="" height="24">
                                            </span>
                                        </a>
                                        <a href="index" class="logo logo-dark">
                                            <span class="logo-lg">
                                                <img src="/images/logo-dark.png" alt="" height="24">
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <h3 class="fw-semibold text-primary lh-base">Too many requests</h3>
                                    <h4 class="fw-semibold mt-2 text-dark lh-base fs-18">Something's Missing.....! Too Many Requests</h4>
                                    <p class="text-muted text-center mb-0">This pages you are trying to access does not exits or has been moved. <br> Try going back to our homepage.</p>

                                    <div class="error-page my-4">
                                        <img src="/images/svg/429-error.svg" class="img-fluid" alt="coming-soon">
                                    </div>

                                    <a class="btn btn-primary" href="index">Back to Home</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END wrapper -->
{% endblock %}

{% block script %}{% endblock %}