{% extends 'layouts/auth.html.twig' %}

{% set title = 'Email Verification' %}

{% block css %}{% endblock %}

{% block content %}

<div class="col-xl-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="mb-0 p-0 p-lg-3">

                        <div class="mb-0 border-0 p-md-4 p-lg-0">
                            <div class="mb-3 p-0 text-center">
                                <div class="auth-brand">
                                    <a href="index" class="logo logo-light">
                                        <span class="logo-lg">
                                            <img src="/images/logo-light.png" alt="" height="24">
                                        </span>
                                    </a>
                                    <a href="index" class="logo logo-dark">
                                        <span class="logo-lg">
                                            <img src="/images/logo-dark.png" alt="" height="24">
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="auth-title-section mb-3 text-center">
                                <h3 class="text-primary fw-semibold mb-1">Email Verification</h3>
                                <p class="text-muted fs-14 mb-0">Enter the email address for verification</p>
                            </div>

                            <div class="text-center mb-3">
                                <div class="maintenance-img">
                                    <img src="/images/svg/email-verifications.svg" height="200" alt="svg-logo">
                                </div>
                            </div>
                            
                            <div class="pt-0">
                                <form action="index.html" class="mb-0">
                                    <div class="form-group mb-3">
                                        <label for="emailaddress" class="form-label">Email</label>
                                        <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
                                    </div>
                                    
                                    <div class="form-group mb-0 row">
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button class="btn btn-primary" type="submit"> Confirm </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-7 d-none d-xl-inline-block">
    <div class="account-page-bg rounded-4">
        <div class="text-center">
            <div class="auth-image">
                <img src="/images/auth-images.svg" class="mx-auto img-fluid" alt="images">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}{% endblock %}